/** @format */

.products-details-main {
	background: linear-gradient(to bottom right, #33ccff 0%, #ff99cc 100%);
}
.products-details-top {
	display: flex;
	width: 100%;
	justify-content: center;
}
.products-details-top-left {
	text-align: center;
	width: 50%;
}
.products-details-top-right {
	text-align: center;
	margin: auto;
}
.products-details-top-right-img1 {
	width: 300px;
}
.products-details-top-right-img1 img {
	width: 100%;
}
.products-details-top-right-img2 {
	width: 300px;
}
.products-details-top-right-img2 img {
	width: 100%;
	margin-top: -313px;
}
.products-details-top-right-img3 {
	width: 300px;
}
.products-details-top-right-img3 img {
	width: 100%;
	margin-top: -130px;
}

.products-details-top-left {
	margin: auto;
}
.products-details-top-left h1 {
	font-size: 3.2em;
	font-weight: 800;
	color: darkslateblue;
}
.products-details-top-left button {
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	border: none;
	border-radius: 15px;
	padding: 5px 15px;
}
.products-details-top-left img {
	margin-top: 50px;
    margin-left: -29px;

}

.products-details-top-left-rating svg{
	color: brown; margin: 2px;
}
.products-details-top-left-rating-box{display: inline-grid;}
.products-details-top-left-rating{
	display: inline-flex;
	position: relative;
    top: 30px;
}