/** @format */

.Mainbar-main {
width: 80%;
	border-top: 1px solid rgb(218, 218, 218);
	padding: 5px;
}
.sub-navbar {
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	display: inline-flex;
	width: 100%;
	background-color: rgb(228, 225, 225);
	padding: 10px;
	border-radius: 5px;
	height: 50px;
}
.Mainbar-main-sub-navbar-products {
	margin: auto;
	text-align: center;
	width: 15%;
}
.Mainbar-main-sub-navbar-products svg {
	border: 1px solid black;
	width: 27px;
	height: 27px;
	padding: 5px;
	background-color: #ffffff;
	border-radius: 5px;

}

.Mainbar-main-sub-navbar-products a {
	text-decoration: none;
	margin-left: 10px;
}
.Mainbar-main-sub-navbar-links {
	margin: auto;
	width: 60%;
}
.Mainbar-main-sub-navbar-links a {
	margin-left: 10px;
	text-decoration: none;
}
.Mainbar-main-sub-navbar-button {
	text-align: right;
}
.Mainbar-main-sub-navbar-button button {
	font-size: 0.5rem;
	border-radius: 10px;
	background-color: #6091ff;
	border-color: #6091ff;
	border-radius: 14px;
	margin: 0px;
	box-shadow: rgba(176, 176, 243, 0.2) 0px 7px 29px 0px;
}
.Mainbar-main-sub-navbar-button svg {
	margin-right: 10px;
}

.sub-navbar-filterbar-main {
	box-shadow: rgba(176, 176, 243, 0.2) 0px 7px 29px 0px;
	margin: 20px;
	display: inline-flex;
	width: 96%;
	align-items: center;
	
	border-bottom: 1px solid grey;
}
.sub-navbar-filterbar-left {
	margin: auto;
	width: 30%;
}
.sub-navbar-filterbar-left span{font-size: 1.2em;}
.sub-navbar-filterbar {
	width: 100%;
	margin: 10px;
}
.sub-navbar-filterbar span {
	margin: 10px;
}
.sub-navbar-filterbar button {
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	background-color: honeydew;
	background-color: none;
	border: 0.3px solid gray;
	border-radius: 5px;
	margin: 0px, 20px;
}

.sub-navbar-filterbar svg {
	margin-right: auto
}
.sub-navbar-filterbar-right {
	display: inline-flex;
}
.sub-navbar-filterbar-right {
	margin: auto;
	margin-right: 10px;
}
.sub-navbar-filterbar-right svg {
	width: 30px;
	height: 30px;
	border: 1px solid black;
	padding: 5px;
	border-radius: 5px;
	margin-right: 10px;
}

.Mainbar-main-products-box {
	display: flex;
	justify-content: center;
	margin: 10px;
	flex-wrap: wrap;
}

.Mainbar-main-product {
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	border: 1px solid gray;
	margin: 10px;
	text-align: center;
	width: 200px;
	border-radius: 10px;
	background-color: rgb(228, 225, 225);
}
.Mainbar-main-product img {
	margin-top: 30px;
	margin-bottom: 10px;
	width: 80%;
}
.Mainbar-main-product input {
	position: absolute;
	margin-left: -10px;
	margin-top: 10px;
}

.Mainbar-main-product button {
	margin-bottom: 10px;
	border: none;
	border-radius: 10px;
}

.checkbox-round {
	width: 1.3em;
	height: 1.3em;
	background-color: white;
	border-radius: 50%;
	vertical-align: middle;
	border: 1px solid #ddd;
	appearance: none;
	-webkit-appearance: none;
	outline: none;
	cursor: pointer;
}

.checkbox-round:checked {
	background-color: rgb(25, 14, 187);
}


@media screen and (max-width : 920px)
{
.sub-navbar-filterbar button span{display: none;}
.Mainbar-main {
	width: 100%;
		
	}
	.sub-navbar-filterbar-left span{display: none;}
	.Mainbar-main-sub-navbar-products svg{display: none;}
}